/*
selector {
    style body
}
*/
/* SELEKTOR PO ELEMENCIE (PO NAZWIE) */
p {
    text-align: left;
    font-size: 17px;
}

h2 {
    text-align: left;
    color: #e8e819;
    background: black;
    width: auto;
    padding: 15px;
}

/* . SELEKTORY PO KLASIE - UŻYWAJĄC KROPKI */
.App {
    min-height: 250px;
    width: 500px;
    background: green;
    border: 5px dashed black;
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 20px;
}

.highlight {
    background: yellow;
    color: black;
    padding: 3px;
}
