/*
selector {
    style body
}
*/

.App { /* . selektor po klasie */
    height: 300px;
    width: 300px;
    background: brown;
    border: 10px solid blue;
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 20px;
}
