/*
selector {
    style body
}
*/

.App { /* . selektor po klasie */
    height: 750px;
    width: 500px;
    background: green;
    border: 5px dashed black;
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 30px;
    margin: 20px;
}
